<template>
  <div id="app">
    <Header />
    <router-view></router-view>
    <Fotter />
  </div>
</template>

<script>
import Header from "./components/common/Header";
import Fotter from "./components/common/Fotter";

export default {
  name: "app",
  components: {
    Header,
    Fotter
  }
};
</script>