<template>
  <div class="InputTask">
    <v-layout row wrap>
      <v-flex xs12 sm6 md4>
        <v-form ref="form" @submit.prevent="addtask(taskname)">
          <v-text-field v-model="taskname" placeholder="input the task"></v-text-field>
          <v-btn text icon @click.prevent="addtask(taskname)" color="success" dark><v-icon>mdi-check-bold</v-icon> Submit</v-btn>
        </v-form>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
export default {
  name: "InputTask",
  data() {
    return {
      taskname: ""
    };
  },
  methods: {
    addtask: function(payload) {
      this.$store.dispatch('TaskAdded', payload)
      this.taskname = "";
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.input{
  width: 130pt;
  height:30pt;
}
.button {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 70pt;
  border: solid 1px silver;
  border-radius: 0.5rem 0.5rem;
  padding: 0.5rem 1.5rem;
  margin-top: 1rem;
  text-decoration: none;
}
</style>