<template>
  <v-app>
    <div class="task">
      <v-data-table :headers="headers" :items="tasks" class="elevation-1">
        <!-- finished flagでActionの表示を制御 -->
        <template v-slot:item.finishedFlag="{ item }">
          <template v-if="!item.finishedFlag">
            <v-btn text icon color="blue lighten-2" @click.prevent="taskFinished(item.id)">
              <v-icon>mdi-thumb-up</v-icon>
            </v-btn>
            <v-btn text icon color="error" @click.prevent="taskClose(item.id)">
              <v-icon>close</v-icon>
            </v-btn>
          </template>
          <template v-else>
            <v-chip class="ma-2" close color="teal" text-color="white" @click:close="taskClose(item.id)">
              <v-avatar left>
                <v-icon>mdi-checkbox-marked-circle</v-icon>
              </v-avatar>Confirmed
            </v-chip>
          </template>
        </template>
      </v-data-table>
    </div>
  </v-app>
</template>

<script>
export default {
  name: "TaskView",
  computed: {
    tasks() {
      return this.$store.state.tasks;
    }
  },
  data() {
    return {
      headers: [
        {
          text: "No.",
          align: "left",
          sortable: true,
          value: "id"
        },
        {
          text: "Task Name",
          align: "left",
          sortable: true,
          value: "name"
        },
        {
          text: "Status",
          sortable: true,
          value: "status"
        },
        {
          text: "Action",
          value: "finishedFlag"
        }
      ]
    };
  },
  methods: {
    taskFinished: function(id) {
      this.$store.dispatch("TaskFinished", id);
    },
    taskClose: function(id) {
      this.$store.dispatch("TaskClose", id);
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>