<template>
  <v-app>
    <v-content>
      <v-container>
        <v-layout wrap>
          <v-flex xs12 sm6 md4 text-center my-5>
            <Radar :graffItem="userSkillLanguages" />
          </v-flex>
          <v-flex xs12 sm6 md4 text-center my-5>
            <Radar :graffItem="userSkillFramework" />
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import Radar from "../components/graff/Radar";

export default {
  name: "SkillChartView",
  components: {
    Radar
  },
  data: () => ({
    //バックエンドAPIから取得するようにする
    userSkillLanguages: {
      title: "言語習得度",
      item: ["Javascript", "Java", "Kotlin", "Ruby", "shell script", "HTML"],
      value: [8, 7, 5, 3, 7, 5],
      ticks: {
        suggestedMin: 0,
        suggestedMax: 10,
        stepSize: 2
      }
    },
    userSkillFramework: {
      title: "フレームワーク",
      item: ["Vuejs", "Spring Boot", "Struts2", "ibatis",],
      value: [8, 7, 5, 6,],
      ticks: {
        suggestedMin: 0,
        suggestedMax: 10,
        stepSize: 2
      }
    }
  })
};
</script>