<template>
    <v-container>
      <v-layout row warp>
        <v-flex xs12 sm6 md4><v-btn color="success">success</v-btn></v-flex>
        <v-flex xs12 sm6 md4><v-btn color="success">success</v-btn></v-flex>
        <v-flex xs12 sm6 md4><v-btn color="success">success</v-btn></v-flex>
      </v-layout>
    </v-container>
</template>

<script>
export default {
  name: "Test"
}
</script>