<template>
  <div>
    <v-app>
      <v-container grid-list-md text-xs-center>
        <InputTask/>
        <taskView/>
      </v-container>
    </v-app>
  </div>
</template>

<script>
import TaskView from "../components/Todo/TaskView";
import InputTask from "../components/Todo/InputTask";

export default {
  name: "Todo",
  components: {
    TaskView,
    InputTask
  }
};
</script>