<template>
  <div>
    <v-toolbar dark app src="https://cdn.vuetifyjs.com/images/parallax/material.jpg">
      <v-toolbar-title>Mieruka Project</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items>
        <v-btn text @click="openOtherSite">
          <v-icon>mdi-launch</v-icon>Portfolio
        </v-btn>
        <v-btn text router-link to="/SkillChart"><v-icon>mdi-launch</v-icon>Skill Chart</v-btn>
        <v-btn text router-link to="/vue"><v-icon>mdi-launch</v-icon>Top</v-btn>
      </v-toolbar-items>

      <template v-if="$vuetify.breakpoint.smAndUp">
        <v-btn icon>
          <v-icon>mdi-export-variant</v-icon>
        </v-btn>
        <v-btn icon>
          <v-icon>mdi-delete-circle</v-icon>
        </v-btn>
        <v-btn icon>
          <v-icon>mdi-plus-circle</v-icon>
        </v-btn>
      </template>
    </v-toolbar>
  </div>
</template>

<script>
export default {
  name: "Header",
  methods: {
    openOtherSite: function() {
      window.open(this.$store.getters.portfolioUrl, "_blank");
    }
  }
};
</script>